<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>确认订单-悟.空源码分享网 www.5k ym.com</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="__PUBLIC__js/rem.js"></script> 
    <script src="__PUBLIC__js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/page.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/all.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__slick/slick.css"/>
<script type="text/javascript">
	$(window).load(function(){
		$(".loading").addClass("loader-chanage")
		$(".loading").fadeOut(300)
	})
</script>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
	</div>
</div>
<!--loading页结束-->
	<body>
		<!--header star-->
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="btn" href="javascript:history.go(-1)">
	            <i class="iconfont icon-fanhui"></i>
	        </a>
	        <div class="top-sch-box top-sch-boxtwo flex-col">
	                      订单详情
	        </div>
	    </header>
	    <!--header end-->
		<form action="{:U('makeOrder')}" method="post">
	    <div class="warp warptwo clearfloat">
	    	<div class="confirm clearfloat">
	    		<div class="add clearfloat box-s">
		    			<div class="left clearfloat fl">
		    				<i class="iconfont icon-dizhi1"></i>
		    			</div>
		    			<div class="middle clearfloat fl">
							<input type="hidden" name="address" value="{$address.id}">
		    				<p class="tit">
		    					收货人：{$address.name}&nbsp;&nbsp;&nbsp;&nbsp;{$address.phone}
		    				</p>
		    				<p class="fu-tit over2">
		    					收货地址：{$address.city}{$address.home}
		    				</p>
		    			</div>
	    		</div>
					<div class="order-list clearfloat">
						<p class="ordernum box-s">
							订单  {$order.ordersn}
							<if condition="$order['state'] eq 0" >
								<span>待付款</span>
								<elseif condition="$order['state'] eq 1" />
								<span>待发货</span>
								<elseif condition="$order['state'] eq 2" />
								<span>待收货</span>
								<else />
								<span>待评价</span>
							</if>
						</p>
						<foreach name="good" item="g">
							<div class="list clearfloat fl box-s">
								<a href="{:U('Index/detail')}?gid={$g.id}">
									<div class="tu fl clearfloat">
										<img src="/Public/Home/pic/{$g.pic}"/>
									</div>
									<div class="middle clearfloat fl">
										<p class="tit">{$g.goods_name}</p>
										<p class="fu-tit">{$g.goods_detail}</p>
										<p class="price clearfloat">
											<span class="xprice fl">¥{$g.price}</span>
											<!--<span class="yprice fl">¥308</span>-->
											<span class="shu">×{$g.good_num}</span>
										</p>
									</div>
								</a>
							</div>
						</foreach>
						<if condition="$order['state'] eq 0" >
							<a href="{:U('Index/orderPay')}?oid={$order.orderid}" class="gopay-btn fr">立即支付</a>
							<elseif condition="$order['state'] eq 1" />
							<a href="#" class="gopay-btn fr">提醒发货</a>
							<elseif condition="$order['state'] eq 2" />
							<a href="{:U('Center/trueGood')}?oid={$order.orderid}" class="gopay-btn fr">确认收货</a>
							<else />
							<a href="{:U('Center/assess')}?oid={$order.orderid}" class="gopay-btn fr">去评价</a>
						</if>
					</div>
				<div class="gmshu clearfloat box-s fl">
		     	</div>
		     	<div class="gmshu gmshutwo clearfloat box-s fl">
					<div class="gcontent clearfloat">
						<p class="fl">配送方式</p>
			     		<div class="you clearfloat fr">
			     			<span>快递 免邮</span>
			     			<i class="iconfont icon-jiantou1"></i>
			     		</div>
					</div>		     		
		     	</div>
		     	<div class="gmshu gmshuthree clearfloat box-s fl">
					<div class="gcontent clearfloat">
						<p class="fl">买家留言</p>
			     		<div class="you clearfloat fl">
			     			<input type="text" name="remark" id="" value="" class="text" placeholder="选填 对本次交易需求给商家留言" />
			     		</div>
					</div>		     		
		     	</div>
		     	<div class="gmshu clearfloat box-s fl">
					<p class="fr">共{$num}件商品   合计<samp>￥{$order.total}</samp></p>
		     	</div>
	    	</div>
	    </div>
		</form>
		<!--footer star-->
		<include file="Public/footer"/>
		<!--footer end-->
	</body>
	<script type="text/javascript" src="__PUBLIC__js/jquery-1.8.3.min.js" ></script>
	<script src="__PUBLIC__js/mui.min.js"></script>
	<script src="__PUBLIC__js/others.js"></script>
	<script type="text/javascript" src="__PUBLIC__js/hmt.js" ></script>
	<script src="__PUBLIC__slick/slick.js" type="text/javascript" ></script>
	<!--插件-->
	<link rel="stylesheet" href="__PUBLIC__css/swiper.min.css">
	<script src="__PUBLIC__js/swiper.jquery.min.js"></script>
</html>
